node_modules/
dist/
build/
.DS_Store
pnpm-lock.yaml
.tmp/
.idea/
.vscode/
coverage/

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Whether you use PnP or not, the node_modules folder is often used to store
# build artifacts that should be gitignored
node_modules

# Swap the comments on the following lines if you wish to use zero-installs
# In that case, don't forget to run `yarn config set enableGlobalCache false`!
# Documentation here: https://yarnpkg.com/features/caching#zero-installs
π
#!.yarn/cache
.pnp.*
.DS_Store
.lh/
.claude/
.env
!.env.example
dist/
dist/*
.vscode/
*.tsbuildinfo